<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686d7f">  <td>21/08/13 13:38:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vcard.Secnarios_API()[pri:1, instance:tests.vcard@23e028a9]">Secnarios_API</td> 
  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/08/13 13:38:36</td>   <td>888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;vcard.getResult(org.testng.ITestResult)[pri:0, instance:tests.vcard@23e028a9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/08/13 13:38:34</td>   <td>-1399</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;vcard.setup()[pri:0, instance:tests.vcard@23e028a9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/08/13 13:38:34</td>   <td>-1290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;vcard.vCardSignIn()[pri:0, instance:tests.vcard@23e028a9]">&gt;&gt;vCardSignIn</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
</table>
